/* parte da fernanda e davidson*/
body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font: normal 15pt Arial;
    background: #71c2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100px;
    height: 50px;
    background-color: #7e85ff;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pergunta-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    background-color: #7e85ff;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

h3 {
    width: 75%;
}

.parabens {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}